$primary: #bd5d38;

.bg-primary {
    background-color: $primary !important;
}

.text-primary {
    color: $primary !important;
}

.h-bg-dark {
    &:hover {
        background-color: $primary !important;
    }
}

.h-c-dark {
    &:hover {
        color: $primary !important;
    }
}

a.text-primary:focus, a.text-primary:hover { color: initial !important }