.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100vh;

    &__border {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        background: #fff;
        margin: 30px 0;

        &--image {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
        padding: 0;

        &__item {
            padding: 10px 0;

            &--link {
                opacity: .5;
                cursor: pointer;

                &:hover {
                    transition: opacity .5s ease;
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
}