.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 100vh;
    z-index: 9999;
    transition: left .5s ease;

    &[data-collapse=false]{
        left: -100%;
    }
    &[data-collapse=true]{
        left: 0;
    }

    &__border {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: #fff;
        margin: 30px 0;

        &--image {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
        padding: 0;

        &__item {
            padding: 8px 0;

            &--link {
                opacity: .5;
                cursor: pointer;

                &:hover {
                    transition: opacity .5s ease;
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and(min-width: 1500px){
    .sidebar{
        &[data-collapse=false]{
            left: 0;
        }
    }
}