.sec-lists{
    &--title{
        margin: 0 0 40px 0;
    }

    &--subtitle{
        margin: 0 0 30px 0;
    }

    &__list-inline {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0 0 40px 0;

        &__item {
            &:nth-child(2n){
                margin: 0 30px;
            }
            
            &--icon {
                font-size: 45px;
            }
        }
    }

    &__list-block{
        list-style: none;
        padding: 0;

        &__item {
            margin: 10px 0;

            &--icon {
                font-size: 18px;
                margin: 0 5px 0 0;
            }
        }
    }
}