.sec-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &--title {
        margin: 0 0 40px 0;
        padding: 0;
        letter-spacing: -1px;
    }

    &__address {
        position: relative;
        bottom: 10px;
        left: 7px;
        margin: 0;
        padding: 0;

        &--link{
            &:hover{
                text-decoration: none;
            }
        }
    }

    &--description {
        margin: 40px 0 50px 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        max-width: 280px;
        padding: 0;

        &__item {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            &__link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &:hover {
                    text-decoration: none;
                }

                &--icon {
                    font-size: 20px;
                }
            }
        }
    }
}