.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 100vh;
    z-index: 9999;
    transition: left .5s ease;

    &[data-collapse=false] {
        left: -100%;
        &~.wall {
            left: -100%;
        }
    }

    &[data-collapse=true] {
        left: 0;

        &~.wall {
            left: 0;
        }
    }

    &~.wall {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #2414149c;
        z-index: 9998;
        transition: left 1s ease;
    }

    &__border {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: #fff;
        margin: 30px 0;

        &--image {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
        padding: 0;

        &__item {
            padding: 8px 0;

            &--link {
                opacity: .5;
                cursor: pointer;

                &:hover {
                    transition: opacity .5s ease;
                    text-decoration: none;
                    opacity: 1;
                }
            }
        }
    }
}

.controller {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 9999;
}

.back-to-top {
    &--icon {
        position: relative;
        top: 10px;
    }

    cursor: pointer;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 50px;
    cursor: pointer;
    overflow: hidden;

    &--line {
        border: 2px solid #fff;
        width: 20px;
        margin: auto;
        border-radius: 5px;
        transition: transform 1s ease;
    }

    &[data-open=true] {
        &>.hamburguer--line {
            &:nth-child(1) {
                transform: translate(30px);
            }

            &:nth-child(2) {
                transform: translateY(0px) rotate(45deg);
            }

            &:nth-child(3) {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }

}

@media screen and(min-width: 992px) {
    .controller {
        display: none;
    }

    .sidebar {
        &[data-collapse=false] {
            left: 0;
        }
    }
}

@media screen and(max-width: 992px) {
    body {
        &:nth-last-child(1) {
            padding: 0 0 100px 0;
        }
    }
}