<%- include('../components/header.ejs', {css: ['https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', './css/index.css'], title: 'Leonardo Avelino'}); %>

<!-- Desktop -->
<nav class="sidebar bg-primary">
    <div class="sidebar__border">
        <div class="sidebar__border--image"></div>
    </div>
    <ul class="sidebar__list text-center">
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">About</a>
        </li>
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">Experience</a>
        </li>
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">Education</a>
        </li>
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">Skills</a>
        </li>
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">Interests</a>
        </li>
        <li class="sidebar__list__item">
            <a class="sidebar__list__item--link font-1 text-white text-uppercase" href="#">Awards</a>
        </li>
    </ul>
</nav>

<%- include('../components/footer.ejs')%>

