@import "./components/generic";
@import "./components/sidebar";
@import "./components/sec-info";
@import "./components/news-summary";
@import "./components/sec-lists";

@media screen and(min-width: 992px){
    body {
        overflow: hidden; 
    }
}

